* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial;
	font-size: 17px;
}

video {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	object-fit: cover;
}

#gringa {
	top: 75px;
	right: 75px;
	bottom: 0;
	z-index: 999;
	width: 101px;
	height: 78px;
	position: absolute;
	background: url("gringa.png") no-repeat;
}

#halloween {
	right: 0;
	bottom: 0;
	z-index: 999;
	width: 655px;
	height: 291px;
	position: absolute;
	background: url("halloween.png");
}