* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-size: 110%;
	color: #ecf0f1;
	font-family: "Jura",sans-serif;
	background: #262a38;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: "Jura",sans-serif;
	font-size: 4rem;
	margin-bottom: .5rem;
	width: 100%;
}

.description {
  font-size: 13px;
  text-align: center;
}

.spin {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #262a38;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}