
html,body {
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */
#displaylogo {
	top: 15px;
	right: 15px;
	height: 500px;
	opacity: 0.3;
	width: 500px;
	position: absolute !important;
	background: url("logo.png") no-repeat;
}

#displayHud {
	right: 50px;
	bottom: 50px;
	display: none;
	max-width: 300px;
	position: absolute !important;
}

#displayTop {
	float: right;
	width: 580px;
	margin-top: 100px;
	padding: 0 10px;
	text-align: right;
}

#displayMiddle {
	float: right;
	width: 280px;
	color: #c6c6c6;
	text-align: right;
	padding: -100px 10px;
	text-shadow: 1px 1px #000;
}

#displayMiddle s {
	opacity: 0.75;
	padding: 0 10px;
	text-decoration: none;
}

#displayBottom {
	float: right;
	width: 237px;
}

#displayImages {
	position: absolute;
}

#backHealth {
	float: left;
	width: 44px;
	margin-top: -270;
	height: 42px;
	margin-left: 190px;
	position: relative;
	background: #861c21;
	border: 1px solid #fb7c76;;
}

#displayHealth {
	bottom: 0;
	float: left;
	width: 44px;
	height: 42px;
	position: absolute;
	background: #e53c32;
	transition: all 0.9s;
}

#backArmour {
	float: left;
	margin-top: -220;
	width: 44px;
	height: 42px;
	margin-left: 190px;
	position: relative;
	background: #5a1636;
	border: 1px solid #c77ba5;
	display: none;
}

#displayArmour {
	bottom: 0;
	float: left;
	width: 44px;
	height: 42px;
	position: absolute;
	background: #de1f73;
	transition: all 0.9s;
	
}

#backWater {
	float: left;
	margin-top: -170;
	width: 44px;
	height: 42px;
	margin-left: 3px;
	margin-left: 190px;
	position: relative;
	background: #1b4980;
	border: 1px solid #95bde2;
}

#displayWater {
	bottom: 0;
	float: left;
	width: 44px;
	position: absolute;
	background: #509bdf;
	transition: all 0.9s;
}

#backFood {
	float: left;
	margin-top: -120;
	width: 44px;
	height: 42px;
	margin-left: 190px;
	position: relative;
	background: #8b3e0c; 
	border: 1px solid #caa49a;
}

#displayFood {
	bottom: 0;
	float: left;
	width: 44px;
	position: absolute;
	background: #d7782e;
	transition: all 0.9s;
}

#backStress {
	float: left;
	margin-top: -70;
	width: 44px;
	height: 42px;
	margin-left: 190px;
	position: relative;
	background: #084f4a;
	border: 1px solid #709aa3;
}

#displayStress {
	bottom: 0;
	float: left;
	width: 44px;
	position: absolute;
	background: #1c9b88;
	transition: all 0.9s;
}
/*Susurrando*/
#voice01 {
	width: 5px;
	float: left;
	height: 10px;
	background: #fff;
	margin-top: -67px;
	margin-left: 180px;
}
/*Medio*/
#voice02 {
	width: 5px;
	float: left;
	height: 10px;
	background: #fff;
	margin-top: -52px;
	margin-left: 180px;
}
/*Alto*/
#voice03 {
	width: 5px;
	float: left;
	height: 10px;
	background: #fff;
	margin-left: 180px;
	margin-top: -37px;
}

#seatBelt {
	float: left;
	margin-left: 465px;
	margin-top: -155px;
}

#gasoline, #kmh {
	color: #939393;
	padding-bottom: -150px;
	margin-bottom: 12px;
	vertical-align: middle;
	text-shadow: 1px 1px #000;
}

#gasoline s, #kmh s {
	color: #dddddd;
	font-size: 28px;
	margin-bottom: 203px;
	padding-right: 55px;
	text-decoration: double;
    font-weight: 550px;
	font-size: xx-large;
	font-weight: bold;

}
#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 12%;
	display: none;
	background: #000;
	position: absolute !important;
}

#movieBottom {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 12%;
	display: none;
	background: #000;
	position: absolute !important;
}

#hoodDisplay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
	position: absolute !important;
}