@import url('https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-size: 110%;
	color: #ecf0f1;
	font-family: 'Source Sans Pro', sans-serif;
	background: radial-gradient(ellipse at bottom, #3f455c 0%, #131c3e 100%);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
		font-family: 'Poiret One', cursive;
	font-size: 4rem;
  margin-bottom: .5rem;
	width: 100%;
}

.sub-title {
  border-top: .1rem solid #fff;
  padding: 1rem 4rem;
	text-align: center;
}

.spin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #596db9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}