@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);

*,
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Montserrat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:focus, body:focus {
	outline: 0;
}

#spawnPage {
	top: 60px;
	left: 60px;
	display: none;
	position: absolute;
	min-width: 300px;
}

#spawnPage #spawnNew {
	border: 0;
	width: 300px;
	height: 60px;
	display: flex;
	cursor: pointer;
	color: #fafafa;
	font-size: 16px;
	border-radius: 4px;
	align-items: center;
	letter-spacing: 2px;
	background: #2e6e4c;
	justify-content: center;
	text-transform: uppercase;
	text-shadow: 0 1px #1b402c;
	box-shadow: 0 1px 0 #235239;
}

#spawnPage .spawnBox {
	border: 0;
	width: 300px;
	height: 50px;
	display: flex;
	color: #fafafa;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	background: #303442;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-shadow: 0 1px #232630;
	box-shadow: 0 1px 0 #232630;
}

#spawnPage .spawnBox:hover {
	background-color: #1d1f27;
}

#spawnPage .fnButton {
	border: 0;
	width: 300px;
	height: 50px;
	display: flex;
	color: #fafafa;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background: #2e6e4c;
    text-shadow: 0 1px #1b402c;
    box-shadow: 0 1px 0 #235239;
}

#spawnPage .fnButton:hover {
	background-color: #1b402c;
}