* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.console {
	background-color: white;
	color: red;
}

.wprompt {
	font-family: Arial;
	position: absolute;
	background-color: rgba(255,255,255,.305);
	color: rgba(15, 15, 15,0.7);
	width: 600px;
	height: 150px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

.wprompt h1 {
	font-size: 17px;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	outline: none !important;
	background-color: rgba(255,255,255,0.12);
	border: 1px solid rgba(255,255,255,0.2);
	flex: 1;
	color: rgba(1, 1, 1,0.85);;
	font-size: 17px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 16px;
	padding: 12px 0 7px 5px;
}

.requestManager {
	width: 100%;
	height: 95%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#NotifyBackground {
	font-size: 14px;
 	line-height: 20px;
	padding: 15px 20px;
	margin-right: 10px;
	background: rgba(0, 0, 0, 0.17);
	border-radius: 15px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.637);
	border: solid 1px #00000062;
	font-family: Arial,Helvetica,sans-serif;
}

#NotifyBackground green {
	color: #85e200;
}

#NotifyBackground red {
	color: #f83d24;
}

#NotifyBackground b {
	color: rgba(255,255,255,0.9);
}